.lang-kotlin {
    font-size: 0.64em !important;
    line-height: 19px !important;
}

.lang-java {
    font-size: 0.64em !important;
    line-height: 19px !important;
}

.reveal p {
    margin: 7px 0 !important;
    line-height: 0.7 !important;
}

.reveal pre code {
	max-height: 600px;

#-span-style-color-00b8d4-text-transform-none-font-size-0-6em-kotlin-span-span-style-text-transform-none-font-size-0-6em-methods-span- > p >img {
    height: 11em;
}