.lang-kotlin {
    font-size: 0.68em !important;
    line-height: 21px !important;
}

.lang-java {
    font-size: 0.68em !important;
    line-height: 21px !important;
}

.reveal p {
    margin: 7px 0 !important;
    line-height: 0.7 !important;
    font-size: 0.7em !important;
}

.reveal ul {
    margin: 1em 1em 1em 2em !important;
    font-size: 0.6em !important;
 }

.reveal pre code {
	max-height: 600px;
}