.lang-kotlin {
    font-size: 0.7em !important;
    line-height: 22px !important;
}

.lang-java {
    font-size: 0.7em !important;
    line-height: 22px !important;
}

.reveal p {
    margin: 7px 0 !important;
    line-height: 0.7 !important;
}